@page "/about"

<PageTitle>About</PageTitle>

<img src="/image/C81_Avatar_4.png" style="display:block;margin: 0 auto;" />
<div style="display:block;margin:10px auto;padding:10px 0;text-align: center">
	<FluentLabel Typo="Typography.HeroTitle">
		CopyMan471
	</FluentLabel>
	<FluentLabel Typo="Typography.Body" MarginBlock="20px">
		This project is built using .NET 9.
	</FluentLabel>
	<FluentAnchor Href="https://github.com/copyman471/" IconStart="@(new Icons.Regular.Size16.Globe())">
		Github
	</FluentAnchor>
	<FluentAnchor Href="https://github.com/copyman471/FluentBlazorWasmApp0523" IconStart="@(new Icons.Regular.Size16.Globe())">
		This project's GitHub repository
	</FluentAnchor>
	<FluentLabel Typo="Typography.Body" MarginBlock="20px">
		Code: ebb54671d4b0d7185e8ff96aae9670202173229b4c1b93f3ebf395a0d8091b6d
	</FluentLabel>
</div>

@code {

}
